[wakibbe@rails-prod2 ~]$ crontab -l

30 0 * * 1,3,5 /home/wakibbe/bin/update_publications >> update_publications.log
Runs every Monday, Wednesday and Friday at 12:30AM

35 16 24 * *   /home/wakibbe/bin/weekly_build >> weekly_build.log
Runs every month on the 24th day at 4:35PM

5 0 * * 6 /home/wakibbe/bin/weekly_cancer >> weekly_cancer.log
Runs every Saturday at 12:05AM

5 5 * * * /home/wakibbe/bin/nightlyColleagues.sh >> nightlyColleagues.log
Runs every day at 5:05AM

15 0 * * 3 /home/wakibbe/bin/monthlyColleagues.sh >> monthlyColleagues.log
Runs every Wednesday at 12:15AM


