<!--[if IE]><%= javascript_include_tag 'excanvas' %><![endif]-->

<script type='text/javascript'>
var json = [
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode1", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode2", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode4", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode10", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode6", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode11", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode12", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode13", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode14", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode15", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode16", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode17", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#83548B", 
      "$type": "circle"
    }, 
    "id": "graphnode0", 
    "name": "graphnode0"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode2", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode4", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode5", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode6", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode7", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode8", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode9", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode10", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode11", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode12", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode13", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode14", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode15", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode16", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode17", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#83548B", 
      "$type": "star"
    }, 
    "id": "graphnode1", 
    "name": "graphnode1"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode2", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode5", 
        "nodeFrom": "graphnode2", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode9", 
        "nodeFrom": "graphnode2", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode18", 
        "nodeFrom": "graphnode2", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#EBB056", 
      "$type": "circle"
    }, 
    "id": "graphnode2", 
    "name": "graphnode2"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode5", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode9", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode10", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode6", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode11", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode12", 
        "nodeFrom": "graphnode3", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#70A35E", 
      "$type": "triangle"
    }, 
    "id": "graphnode3", 
    "name": "graphnode3"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#70A35E", 
      "$type": "star"
    }, 
    "id": "graphnode4", 
    "name": "graphnode4"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode9", 
        "nodeFrom": "graphnode5", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#416D9C", 
      "$type": "star"
    }, 
    "id": "graphnode5", 
    "name": "graphnode5"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode10", 
        "nodeFrom": "graphnode6", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode11", 
        "nodeFrom": "graphnode6", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#416D9C", 
      "$type": "star"
    }, 
    "id": "graphnode6", 
    "name": "graphnode6"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#416D9C", 
      "$type": "triangle"
    }, 
    "id": "graphnode7", 
    "name": "graphnode7"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#EBB056", 
      "$type": "star"
    }, 
    "id": "graphnode8", 
    "name": "graphnode8"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#70A35E", 
      "$type": "triangle"
    }, 
    "id": "graphnode9", 
    "name": "graphnode9"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode11", 
        "nodeFrom": "graphnode10", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#83548B", 
      "$type": "triangle"
    }, 
    "id": "graphnode10", 
    "name": "graphnode10"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#416D9C", 
      "$type": "triangle"
    }, 
    "id": "graphnode11", 
    "name": "graphnode11"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#70A35E", 
      "$type": "square"
    }, 
    "id": "graphnode12", 
    "name": "graphnode12"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode14", 
        "nodeFrom": "graphnode13", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#416D9C", 
      "$type": "square"
    }, 
    "id": "graphnode13", 
    "name": "graphnode13"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#70A35E", 
      "$type": "square"
    }, 
    "id": "graphnode14", 
    "name": "graphnode14"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode16", 
        "nodeFrom": "graphnode15", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode17", 
        "nodeFrom": "graphnode15", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#C74243", 
      "$type": "circle"
    }, 
    "id": "graphnode15", 
    "name": "graphnode15"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode17", 
        "nodeFrom": "graphnode16", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#EBB056", 
      "$type": "circle"
    }, 
    "id": "graphnode16", 
    "name": "graphnode16"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#83548B", 
      "$type": "triangle"
    }, 
    "id": "graphnode17", 
    "name": "graphnode17"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode19", 
        "nodeFrom": "graphnode18", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode20", 
        "nodeFrom": "graphnode18", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#C74243", 
      "$type": "circle"
    }, 
    "id": "graphnode18", 
    "name": "graphnode18"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#EBB056", 
      "$type": "star"
    }, 
    "id": "graphnode19", 
    "name": "graphnode19"
  }, 
  {
    "adjacencies": [], 
    "data": {
      "$color": "#416D9C", 
      "$type": "circle"
    }, 
    "id": "graphnode20", 
    "name": "graphnode20"
  }
];

var json2 = [
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode1", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode0", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#83548B", 
      "$type": "circle"
    }, 
    "id": "graphnode0", 
    "name": "graphnode0"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode2", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }, 
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode1", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#83548B", 
      "$type": "star"
    }, 
    "id": "graphnode1", 
    "name": "graphnode1"
  }, 
  {
    "adjacencies": [
      {
        "nodeTo": "graphnode3", 
        "nodeFrom": "graphnode2", 
        "data": {}
      }
    ], 
    "data": {
      "$color": "#EBB056", 
      "$type": "circle"
    }, 
    "id": "graphnode2", 
    "name": "graphnode2"
  }, 
  {
    "adjacencies": [
    ], 
    "data": {
      "$color": "#70A35E", 
      "$type": "triangle"
    }, 
    "id": "graphnode3", 
    "name": "graphnode3"
  }
];
var graph_json = <%= @subtree_hash.to_json %>
// end
</script>

<div id="content">
<div id="container">
  <div id="infovis"></div>    

  <div id="inner-details"></div>

<div id="log"></div>
</div>
</div>

<script type='text/javascript'>
init();
</script>
