/* styles that change compared with publications.css */

/* --- HEADER --- */
#banner {
	border-bottom: 1px solid #183470;
	margin-left:auto;
	margin-right:auto;
	width:1182px;
	height:282px;
/*	background: url(../images/pageheader.jpg) ; */
	vertical-align:bottom;
    text-align: center;
	font-size:12px;
	display: block;}

/* background
E6EFE6  */

/* green text 94AD5C */

#listing .list-heading {
	background-color: #E6EFE6;
	color:        #94AD5C;
	font-weight:  bold;
}

#listing .list-title {
	color:        #94AD5C;
	font-weight:  bold;
}

#listing .list-title-center {
	color:        #94AD5C;
	font-weight:  bold;
	text-align: center;
}

#listing .list-title-right {
	color:        #94AD5C;
	font-weight:  bold;
	padding-right: 1em;
	text-align: right;
}

#listing .list-line-even {
	background:   lightyellow;
	padding-bottom: 0.5em;
}

#listing .list-line-odd {
	background:   #E6EFE6;
	padding-bottom: 0.5em;
}

#side {
	float: left;  
	margin-top: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	width: 160px;
	height: 790px;
	color: #000;
    background-color: #E6EFE6;
	/* background-color: #709fc7; */
}


#title {
  margin: 0px;
  padding: 5px;
  padding-left: 20px;
  padding-bottom: 2px;
  font:  180% sans-serif;
  color: #94AD5C;
  background-color: lightyellow;
}

#search {
  padding: 3px;
  padding-left: 115px;
  margin: 0px;
    color: #fff;
    font-size: 12px;
	background-color: #94AD5C;
/*  background-color: #339; */

}

#search a:hover { background-color: #E6EFE6; }


#niceline {
  padding-left: 50px;
  height: 8px;
  margin: 0px;
    color: #fff;
    font-size: 11px;
    background-color: #A3A3A3;
	/* background-color: #709fc7; */
}

#OrgGraph, #MemberGraph {
	margin-left: -8px;
	z-index: -10;
}

.inter_unit {
	background-color: #D86666;
	text-decoration: none;
}

.first_author, .member_first_author {
	color: #520063;
	background-color: #CCAF9F;
	text-decoration: none;
}

.submit {
  padding: 10px;
  margin: 0px;
  color: #fff;
  font-size: 12px;
  background-color: #520063;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #414141; /*background of menu items (default state)*/
color: white;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: 94AD5C; 
color: white;
}

.ddsmoothmenu-v ul li a:hover{
background: 94AD5C; /*background of menu items during onmouseover (hover state)*/
color: white;
}

