/* styles that change compared with publications.css */
a:visited { color: #666; }
a:hover { color: #fff; background-color:#888; }

#listing .list-heading {
  background-color: #709fc7;
  color:        #520063;
  font-weight:  bold;
}

#listing .list-title {
  color:        #520063;
  font-weight:  bold;
}

#listing .list-title-center {
  color:        #520063;
  font-weight:  bold;
  text-align: center;
}

#listing .list-title-right {
  color:        #520063;
  font-weight:  bold;
  padding-right: 1em;
  text-align: right;
}

#side {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;
  vertical-align: top;
  width: 160px;
  height: 790px;
  color: #000;
  background-color: inherit;
}

#banner {
  height:98px;
}

#title {
  margin: 0.25em 0;
  padding: 0 0.5em;
  font:  180% sans-serif;
  color: #226;
}

#title a#title_link {
  display: inline-block;
  margin-top: 1em;
}

#search {
  padding: 1.5em 1em 2em 8em;
  margin: 0;
  color: #fff;
  font-size: 14px;
  background-color: #520063;
}

#search input,
#search select {
  font-size: 1.25em;
}

#search #search_instructions {
  font-size: 12px;
  font-style: italic;
}

#search a:hover {
  background-color: #A3A3A3;
}

#niceline {
  padding-left: 50px;
  height: 8px;
  margin: 0px;
  color: #fff;
  font-size: 11px;
  background-color: #A3A3A3;
}

#OrgGraph, #MemberGraph {
  margin-left: -8px;
  z-index: -10;
}

.inter_unit {
  background-color: #D86666;
  text-decoration: none;
}

.first_author, .member_first_author {
  color: #520063;
  background-color: #CCAF9F;
  text-decoration: none;
}

.submit {
  padding: 10px;
  margin: 0px;
  color: #fff;
  font-size: 12px;
  background-color: #520063;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #414141; /*background of menu items (default state)*/
color: white;
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: black;
color: white;
}

.ddsmoothmenu-v ul li a:hover{
background: black; /*background of menu items during onmouseover (hover state)*/
color: white;
}

