<div id="investigator_title_block">
  <% all_abstracts = @all_abstracts || nil -%>
  <%= investigator_bio_heading(@investigator, all_abstracts).html_safe %>
</div>

<div id="member">
  <div id="MemberGraph"></div>
  <% params[:id] = 'str' if params[:id].blank? %>
  <script type="text/javascript">
    var activity = new FusionCharts("<%= image_path('../flash/DragNode.swf') %>", "MemberGraph", "1000", "700", "0", "1");
    activity.setDataURL('<%= image_path("../member_nodes/"+params[:id]) %>');
    activity.render("MemberGraph");
  </script>
  <br />
  <p>
    This graph shows the interaction graph for a faculty member based on number of co-authored publications with other faculty members.
    Mouse over a specific member to get the total publication count and the number of
    <span class="intra_unit">intra-unit</span> and
    <span class="inter_unit">inter-unit</span> collaborations.
    To better visualize the relationships you can alt-click and drag any of the members.
  </p>
</div>
