#menubar a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
	background: #520063;
	display: block;
	font-size: 12px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	padding: 2px;
	padding-left: 5px;
	text-indent: 0;
	text-align: left;
	color: white;
}
#dropmenudiv{
	position:absolute;
	margin-left: 25px;
	margin-top: 0px;
	border:1px solid black;
	border-bottom-width: 0;
	font:normal 11px Verdana;
	background: #339;
	line-height:14px;
	z-index:100;
}

#dropmenudiv a{
	width: 100%;
	display: block;
	text-indent: 12px;
	border-bottom: 1px solid black;
	padding: 1px 0;
	text-decoration: none;
	text-align: left;
	font-weight: bold;
	color: midnightblue;
}

#dropmenudiv a:hover{ /*hover background color*/
	background-color: #808080;
}
