/* Global styles */

/* Styles for main page */

/* --- HEADER --- */

#banner {
	border-bottom: 0px;
	margin-left:5px;
	margin-right:5px;
	width:100%;
	height:120px;
}

/* --- main --- */
#main {
	margin-left:5px;
	margin-right:5px;
	width:1420px;
}

table {
	clear: both ;
    border-collapse:collapse;
    border: 0px;
	padding: 0px;
	margin: 0px;
}

tr,td,th {
	clear: both ;
	padding: 0px;
	margin: 0px;
}

tr.odd, .odd, .odd td.ui-widget-content {
	background:   #e1e1e1;
}

.header {
	cursor:pointer;
}
.headerSortUp {
	background-image: url(../images/asc.gif);
}
.headerSortDown {
	background-image: url(../images/desc.gif);
}
.headerSortDown, .headerSortUp {
  background-color: #8dbdd8;
}
