<div id="note">
<p>Please note that these data are based on information available from InfoEd, which is the Northwestern system for tracking grant submissions. The dollar amounts, investigators involved, and effort numbers are from the point of award and may not reflect changes made after the award was received.</p>
</div>
