<% show_delete_checkboxes = false if show_delete_checkboxes.nil? %>
<td class="list-title-right">
  <% if show_delete_checkboxes %>
	<% for investigator_abstract in publication.investigator_abstracts %>
		<%= check_box_tag(investigator_abstract.id, investigator_abstract.id, investigator_abstract.end_date.blank?, :onclick => remote_function( :url =>  set_investigator_abstract_end_date_abstract_path(investigator_abstract.id),
		:before => "Element.show('spinner')", :complete => "Element.hide('spinner')"
		)) if show_delete_checkboxes and !investigator_abstract.investigator_id.blank? -%>&nbsp;<%= link_to_investigator( publication, Investigator.include_deleted(investigator_abstract.investigator_id)) if !investigator_abstract.investigator_id.blank? -%><br/>
	<% end %>
  <% else %>
	<% for investigator in publication.investigators %>
		<%= link_to_investigator( publication, investigator) if !investigator.blank? %><br/>
	  <% end %>
  <% end %>
</td>
