<div id="note">
<p>Please note that these data are based on information available from PubMed. Organizational membership data is based on primary appointments and center membership data from <%= LatticeGridHelper.menu_head_abbreviation %>. First and last author publications are based on the author list from each publication. Single author publications are counted as first author publications. To change publication information and profiles, please login here: <%= edit_profile_link %> </p>
</div>
