<td class="list-title-left">
  <% if show_valid_checkboxes %>
	  <% for investigator_abstract in publication.investigator_abstracts %>
      <% if show_valid_checkboxes and !investigator_abstract.investigator_id.blank? %>
		    <%= check_box_tag(investigator_abstract.id, investigator_abstract.id, investigator_abstract.is_valid,
          :class => 'valid_faculty',
          :onchange => remote_function(
                        :url =>  set_investigator_abstract_end_date_abstract_path(investigator_abstract.id),
                        :before => "Element.show('spinner')", :complete => "Element.hide('spinner')")
         )-%>
      <% end -%>
      &nbsp;
      <% if !investigator_abstract.investigator_id.blank? %>
        <%= link_to_investigator( publication, Investigator.include_deleted(investigator_abstract.investigator_id), nil, false, true, simple_links, 'underlined') -%>
      <% end -%>
      <% if @pdf.blank? %>
        <br/>
      <% end -%>
	  <% end -%>
  <% else %>
	  <% for investigator in publication.investigators %>
      <% if !investigator.blank? %>
		    <%= link_to_investigator( publication, investigator, nil, false, true, simple_links, 'underlined') %>
      <% end -%>
      <% if @pdf.blank? %>
        <br/>
      <% end -%>
	  <% end -%>
  <% end -%>
</td>
