<td class="list-left">
	<%= check_box_tag(publication.id,
                    publication.id,
                    publication.is_valid,
                    :class=> 'valid',
                    :onclick => remote_function(
                                  :url => set_deleted_date_abstract_path(publication.id),
	                                :before => "Element.show('spinner')",
                                  :complete => "Element.hide('spinner')")
                  )
  %>
</td>
<% if show_cancer_related_checkbox %>
  <td class="list-left">
	  <%= check_box_tag(publication.id,
                      publication.id,
                      publication.is_cancer,
                      :class=> 'cancer_related',
                      :onclick => remote_function(
                                    :url => set_is_cancer_abstract_path(publication.id),
	                                  :before => "Element.show('spinner')",
                                    :complete => "Element.hide('spinner')")
                      )
    %>
  </td>
<% end %>
