<% tag_cloud tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class| %>
   <%= link_to tag.name, tag_abstract_path(tag.name), :class => css_class, :title => "Total of #{tag.count} tags" %>
<% end %>
