<div class='welcome_row'>
  <%= render 'welcome/search' %>
</div>

<div class='welcome_row2'>
  <div class='welcome_column'>
    Who is collaborating with whom?
    <div class='welcome_image'>
      <%= image_tag 'welcome_chord_graph.png' %>
    </div>
  </div>

  <div class='welcome_column'>
    Who has what funding?
    <div class='welcome_image'>
      <%= image_tag 'welcome_award_data.png' %>
    </div>
  </div>

  <div class='welcome_column'>
    Who is similar to you?
    <div class='welcome_image'>
      <%= image_tag 'welcome_wordle.png' %>
    </div>
  </div>
</div>
