<div class='welcome_row'>
  <div class='welcome_column'>
    Who is collaborating?
  </div>

  <div class='welcome_column'>
    Who has funding?
  </div>

  <div class='welcome_column'>
    Who is similar?
  </div>
</div>

<div class='welcome_row welcome_search'>
  Other ways to search
</div>