/* overall style */
body.demo { left: 0; width: 100%; margin: 0; line-height: 1; }
#header-resizer { height: 0; width: 0; }
body.demo #logo { margin-left: 1em; }
body.demo #header .message { padding: 0.2em 0.2em 0 0.2em; margin: 0.5em; position: absolute; bottom: 0; left: 210px; }
body.demo #header .message p { background-color: #fffff0; border: 1px solid #ffff00; }
body.demo #header .message * { text-align: left; }
body.demo #header .title { text-transform: uppercase; font-weight: bold; }
body.demo #page, body.demo #copyright, body.demo #navigation_links, body.demo #search, body.demo #content, body.demo #footer { display: none; }
#cytoweb, #side { border: 1px #cfcfcf solid; }
.ui-dialog { -moz-box-shadow: 0 0 50px #bbb; -webkit-box-shadow: 0 0 50px #bbb; box-shadow: 0 0 50px #bbb; }
#cytoweb { background: #fff; }
#side, #cytoweb { border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; }
#cytoweb ul { margin-left: 0; } 
#menu { z-index: 9999 !important; height: auto !important; border: 0 !important; background: transparent !important; }
#cytoweb_container { background: transparent; position: absolute; top: 0; left: 0; z-index: 0; height: 100%; width: 100%; }
#menu > ul { border: 1px solid #707070; }
#examples { }
#examples * { margin: 0 0 0.5em 0; }
.hidden { z-index: -1; visibility: hidden; }
body.demo h1 { border-bottom: 1px solid #cfcfcf; clear: both; text-align: center; }
body.demo * + h1, body.demo  * + h2, #vizmapper  * + h3 { padding-top: 0.5em; }
body.demo h1 + h2, body.demo h2 + h3 { padding-top: 0.25em; }
input[type=text], textarea { background-color: #FFF; }
.ui-layout-header .header {  }
.ui-layout-header { min-height: 0.25em; }
.ui-layout-content { background: #ffffff; }
input[type=button].ui-state-default { cursor: pointer; }

/* menu styling */
       
    /* basic styling */
    .ui-menu-title { margin: 0 !important; background: transparent !important; border: 0 !important; }
    .ui-menu-title.ui-state-active > label { background-color: #0b94b1 !important; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
    .ui-menu-item { margin: 0 !important; float: left; background: #fafafa; z-index: 9999; }
    .ui-menu-title label { color: #fff; }
    .ui-menu-item label, .ui-menu-title label { float: left; }
    .ui-menu-title > label { padding: 0.25em 0.5em 0.25em 0.5em; }
    .ui-menu-item > label { padding: 0.1em; }
    .ui-menu-item label { color: #000; z-index: 2; }
    .ui-menu-item { cursor: pointer !important; width: 100%; float: left; clear: both; border-top: 1px solid #eaeaea !important; border-bottom: 1px solid #fafafa !important; }
    .ui-top-menu > .ui-menu-item-first { border-top-right-radius: 0; border-top-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -webkit-border-top-left-radius: 0; }
    .ui-top-menu li label { white-space: nowrap; }
    .ui-menu-item-last {  }
    .ui-state-active.ui-menu-item { background: #0b94b1 !important; border-color: #0b94b1 !important; border-left-color: #097d95 !important; }
    .ui-state-active.ui-menu-item > label { color: #fff; }
    .ui-state-active.ui-menu-item-first { }
    .ui-state-active.ui-menu-item-last {  }
    .ui-tabs-nav.ui-menu-bar  {text-align: left;}
    .ui-menu-item label { padding-left: 2em; padding-right: 2em; }
    .ui-tabs-nav .ui-state-default.ui-menu-title {  }
    .ui-menu-item, .ui-menu-title label { cursor: pointer; }
    .ui-sub-menu { z-index: 5; margin-top: 0 !important; background: transparent;  }
    .ui-top-menu { z-index: 0; border-top: 0 !important; padding-top: 0.25em; margin-top: -0.25em; background: #fff; border-right: 2px solid #fff !important; }
    .ui-top-menu, .ui-sub-menu { margin: 0; float: left; border: 1px solid #cfcfcf; -moz-box-shadow: 0em 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;  }
    .ui-sub-menu-spacing { z-index: -1; background: transparent; cursor: default !important; }
    
    /* menu title modifications */
    .ui-menu-title { margin-right: 2em !important; }
    .ui-menu-title.ui-state-default {  }
    .ui-menu-title.ui-state-active { }
    
    /* icons */
    .ui-menu-check-icon { height: 12px; width: 12px; background-repeat: no-repeat; background-color: transparent; border-left: 2px solid transparent; background-image: url("../../images/cytoscape/check/black/check.png"); opacity: 0; visibility: hidden; }
    .ui-menu-check-icon.ui-state-active { background-repeat: no-repeat; background-color: transparent; border: 0; background-image: none; border-left: 2px solid transparent; }
    .ui-menu-checked { visibility: visible; opacity: 0.6; }
    .ui-state-active.ui-menu-checked { background-image: url("../../images/cytoscape/check/white/check.png"); }
    
    .ui-menu-parent-icon { opacity: 0.6; border: 0; border-right: 8px solid transparent; height: 12px; width: 12px;  background-image: url("../../images/cytoscape/parent_arrow/black/right.png"); background-repeat: no-repeat; background-color: transparent; }
    .ui-state-active.ui-menu-parent-icon { opacity: 0.6; background-repeat: no-repeat; border: 0; background-image: url("../../images/cytoscape/parent_arrow/white/right.png"); background-color: transparent; }

/* tool tip styling */
.tool_tip_info {  position: absolute; z-index: 99999; display: none; padding: 0px; cursor: pointer; }
.tool_tip_pointer { width: 22px; height: 12px; background-repeat: no-repeat; margin: 0px; padding: 0; }
.tool_tip_top {  background-image: url("../../img/tool_tip/tool_tip_up_80.png"); }
.tool_tip_bottom { background-image: url("../../img/tool_tip/tool_tip_down_80.png"); }
.tool_tip_text { background-image: url("../../img/tool_tip/tool_tip_bg_80.png"); color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 0.5em 0.75em; margin: 0px;  }

/* save, open */
.swf { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999;  } 

/* side tabs */
#side .header { position: relative;  }
#side > ul { z-index: 1; }
#side .header .padded { padding: 1em 0; }
#side .header .padded + * { padding-top: 0.5em !important; }
#side .content { position: relative; padding: 0.25em; }
#side_header { }
#side_header .ui-tabs { padding: 0.5em 0 !important; z-index: 0; -moz-box-shadow: 0 0 50px #bbb; -webkit-box-shadow: 0 0 50px #bbb; box-shadow: 0 0 50px #bbb; min-height: 2em; background: #ffffff !important; border-radius: 4px;!important; -moz-border-radius: 4px !important; -webkit-border-radius: 4px !important; border: 0 !important; border-bottom: 1px solid #363636 !important; width: 100%;  }
#side_header .ui-tabs ul { background: transparent !important; border: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; -border-radius: 0 !important; }
#side_header .ui-tabs li { background: transparent !important; padding: 0 !important;  margin: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; -border-radius: 0 !important; border: 0 !important; margin-right: 0.5em !important; }
#side_header .ui-tabs a { padding: 0.25em !important; cursor: pointer; color: #0b94b1; display: block; background: transparent !important; text-decoration: none;  border: 0px solid transparent !important; border-radus: 4px !important; -webkit-border-radius: 4px !important; -moz-border-radius: 4px !important; }
#side_header .ui-tabs li.ui-tabs-selected a { color: #ffffff !important; border-color: #0b94b1 !important; background-color: #0b94b1 !important; cursor: default !important;  }
#side_header .ui-tabs li.ui-tabs-selected {  }
#side_header .ui-tabs a:hover { text-decoration: underline !important; }
#side_header .ui-tabs li.ui-tabs-selected a:hover { text-decoration: none !important; }
#side .ui-tabs-panel { padding: 0 !important; }
#side_content { clear: both; }
#side_header .rebuild { background-color: #f9dd5d; cursor: pointer; line-height: 1.2; padding: 0.5em 0.25em !important; border: 2px solid #000000; }
#side_header .rebuild .ui-icon { float: left; margin-right: 0.25em; } 
#side_header .rebuild p  { margin: 0; padding: 0; }
#side_header .rebuild p + p { margin-top: 0.25em; }
#side_header .rebuild small { text-decoration: underline; }
#reset_filter_button { margin: 0.1em 0.25em; padding: 0.1em; cursor: pointer; float: right; }
#reset_filter { float: right; margin: 0.75em 0px 0px 0.25em; cursor: pointer; position: relative; z-index: 9999; }
#reset_filter label { float: left; margin-top: 0.25em; color: #000000; cursor: pointer; }
#reset_filter:hover { text-decoration: underline; }

/* filters */
#filter_header .select ul { margin: 0; display: inline; }
#filter_header .select li { margin: 0; display: inline; }
#filter_header .select li a { text-decoration: none; padding: 0.25em; border: 1px solid #cfcfcf; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#filter_header .select li a.selected { border: 1px solid #0b94b1; background-color: #0b94b1; color: #fff;  }
#filter label { display: block; padding-top: 1em; clear: both; }
#filter .attribute { clear: both; float: left; width: 100%; }
#filter .range_area { margin-left: 4em; margin-right: 4em; clear: both; }
#filter .range_min, #filter .range_max { width: 40%; margin-top: 0.25em; }
#filter .range_min { float: left; }
#filter .range_max { float: right; }
#filter .string_search { display: block; width: 50%; }
#filter .silder_area { clear: both; }
#filter .slider { margin: 0 4em; }
#filter .slider_min, #filter .slider_max { color: #707070; width: 3.125em; display: block; line-height: 1em; font-size: 0.8em; overflow: hidden; }
#filter .slider_min { float: left; text-align: right; padding-right: 1.25em;  }
#filter .slider_max { float: right; text-align: left; padding-left: 1.25em;  }
#filter .stats_area { margin: 0 4em; height: 1em; position: relative; }
#filter .stat { width: 1px; height: 100%; position: absolute; background-color: #0b94b1; opacity: 0.25; }

.floating_widget { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; background: #363636; background: rgba(54, 54, 54, 0.8); z-index: 9999; }

/* colour picker */
#colour_picker { clear: both; width: 200px; height: 200px; }
#colour_picker .header { position: absolute; top: 0; left: 0; z-index: 1; }
.farbtastic {  position: relative; }
.farbtastic * {  position: absolute;  cursor: crosshair; }
.farbtastic, .farbtastic .wheel {  width: 195px;  height: 195px; }
.farbtastic .color, .farbtastic .overlay {  top: 47px;  left: 47px;  width: 101px;  height: 101px; }
.farbtastic .wheel {  background: url("../../img/farbtastic/wheel.png") no-repeat;  width: 195px;  height: 195px; }
.farbtastic .overlay {  background: url("../../img/farbtastic/mask.png") no-repeat; }
.farbtastic .marker {  width: 17px;  height: 17px;  margin: -8px 0 0 -8px;  overflow: hidden;   background: url("../../img/farbtastic/marker.png") no-repeat; }

/* shape picker */
#node_shape_picker { width: 180px; padding: 5px; }
#edge_shape_picker { width: 180px; padding: 5px; }
.shape_picker .shape { width: 50px; height: 50px; float: left; margin: 5px; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

#node_shape_picker .shape { background: #fff url("../../images/cytoscape/shapes/node_shapes.png") center center no-repeat; }
#node_shape_picker .shape.parallelogram { background-position: 0 0; }
#node_shape_picker .shape.ellipse { background-position: -50px 0; }
#node_shape_picker .shape.triangle { background-position: -100px 0; }
#node_shape_picker .shape.octagon { background-position: -150px 0; }
#node_shape_picker .shape.diamond { background-position: -200px 0; }
#node_shape_picker .shape.roundrect { background-position: -250px 0; }
#node_shape_picker .shape.rectangle { background-position: -300px 0; }
#node_shape_picker .shape.hexagon { background-position: -350px 0; }
#node_shape_picker .shape.vee { background-position: -400px 0; }

#edge_shape_picker .shape { background: #fff url("../../images/cytoscape/shapes/arrow_shapes.png") center center no-repeat; }
#edge_shape_picker .shape.diamond { background-position: 0 0; }
#edge_shape_picker .shape.delta { background-position: -50px 0; }
#edge_shape_picker .shape.arrow { background-position: -100px 0; }
#edge_shape_picker .shape.circle { background-position: -150px 0; }
#edge_shape_picker .shape.t { background-position: -200px 0; }
#edge_shape_picker .shape.none { background-position: -250px 0; }

/* resizing panes */
.ui-layout-resizer { display: block; background: url("../../images/cytoscape/grip.png") #fff; cursor: w-resize; }
.ui-layout-resizer-drag { visibility: hidden; }
#overlay, #cytoweb_overlay { width: 100%; height: 100%; background: transparent; position: absolute; left: 0; top: 0; z-index: 9999; display: none; }
.resizing { opacity: 0.5; }

/* save screen */
.save_screen { opacity: 0.99 /* needs to be for firefox cytoweb recalculate layout */; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #fff; z-index: 10000; overflow: auto; }
.save_screen .corner { cursor: pointer; position: absolute; left: 0; top: 0; width: 250px; height: 250px; background: url("../../images/cytoscape/back_empty.png"); }
.save_screen .corner * { cursor: pointer; }
.save_screen .corner span { color: #fff; line-height: 1; width: 140px; margin: 20px 0 0 30px; display: block; }
.save_screen .corner .icon { width: 64px; height: 64px; background-image: url("../../images/cytoscape/icons/oxygen/64x64/actions/back.png"); position: absolute; left: 30px; top: 60px; }
.save_screen .description { text-align: center; width: 100%; }
.save_screen .selections { height: 250px; width: 600px; margin: -125px auto 0 auto; top: 160px; position: relative; text-align: center; }
.save_screen .selections .data_formats { margin: 0 auto; text-align: center; width: 468px; }
.save_screen .selections .image_formats { margin: 0 auto; text-align: center; width: 468px; }
.save_screen .selections h2 { padding-top: 0; }
.save_screen .selection { cursor: pointer; float: left; width: 128px; margin: 1em; position: relative; z-index: 9999; }
.save_screen .selection label { display: block; position: absolute; right: 20px; top: 8px; z-index: 10000; color: #707070; }
.save_screen .selection span { font-size: 80%; color: #0b94b1; }
.save_screen .icon { width: 128px; height: 128px; background: url("../../images/cytoscape/icons/oxygen/128x128/mimetypes/empty.png"); position: relative; z-index: 9999; }
#save_xgmml .icon { background: url("../../images/cytoscape/icons/oxygen/128x128/mimetypes/xml.png"); }
#save_graphml .icon { background: url("../../images/cytoscape/icons/oxygen/128x128/mimetypes/xml.png"); }
#save_sif .icon { background: url("../../images/cytoscape/sif.png"); }
#save_pdf .icon { background: url("../../images/cytoscape/icons/oxygen/128x128/mimetypes/pdf.png"); }
#save_svg .icon { background: url("../../images/cytoscape/svg.png"); }
#save_png .icon { background: url("../../images/cytoscape/png.png"); }

/* screens */
.screen { opacity: 0.99 /* needs to be for firefox cytoweb recalculate layout */; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #fff ; background: rgba(255, 255, 255, 0.85); z-index: 9999;  }
.loading_screen { background: #fff; }
.screen * { text-decoration: none; }
.screen .notification  { width: 200px; background: #fff;  position: relative; top: 50%; padding: 2em; margin: -100px auto 0 auto; }
.error_screen .notification, .info_screen .notification, .warning_screen .notification { border: 1px solid #e0e0e0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; }
.screen .notification .icon, .screen .notification .heading, .screen .notification .message { margin: 0 auto 1em auto; display: block; font-size: 1em; }
.screen .notification .icon { margin-bottom: 1em; background: url("../../images/cytoscape/loader.gif") no-repeat transparent; height: 32px; width: 32px; }
.info_screen .notification .icon { background-image: url("../../images/cytoscape/icons/oxygen/32x32/actions/messagebox_info.png"); }
.error_screen .notification .icon { background-image: url("../../images/cytoscape/icons/oxygen/32x32/actions/messagebox_critical.png"); }
.warning_screen .notification .icon { background-image: url("../../images/cytoscape/icons/oxygen/32x32/actions/messagebox_warning.png"); }
.screen .corner { cursor: pointer; position: absolute; left: 0; top: 0; width: 250px; height: 250px; background: url("../../images/cytoscape/back_empty.png"); z-index: 1; }
.screen .corner * { cursor: pointer; }
.screen .corner .icon { width: 64px; height: 64px; background-image: url("../../images/cytoscape/icons/oxygen/64x64/actions/back.png"); position: absolute; left: 30px; top: 60px; }
.screen .corner span { color: #fff; line-height: 1; width: 140px; margin: 20px 0 0 30px; display: block;  }
.screen .heading { color: #707070; text-align: center; margin-bottom: 1em; width: 100%; }
.screen .message { width: 200px; }


/* examples */
#examples .entry { margin: 0 0 1em 0; }
#examples .entry .name { padding: 0.5em 0; display: block; }
#examples .entry + .entry { border-top: 1px solid #b0b0b0; }
#examples .entry .icon { min-width: 230px; max-width: 600px; height: 50px; background-position: center center; background-color: #e0e0e0; border: 1px solid #cfcfcf; }
#examples .entry.pathguide .icon { background-image: url("../../images/cytoscape/content/demo/examples/pathguide.png"); }
#examples .entry.genetics .icon { background-image: url("../../images/cytoscape/content/demo/examples/genetics.png"); }
#examples .entry.disconnected .icon { background-image: url("../../images/cytoscape/content/demo/examples/disconnected.png"); }
#examples .entry.shapes .icon { background-image: url("../../images/cytoscape/content/demo/examples/shapes.png"); }
#examples .entry.peterson .icon { background-image: url("../../images/cytoscape/content/demo/examples/petersen.png"); }
#examples .entry.reindeers .icon { background-image: url("../../images/cytoscape/content/demo/examples/reindeers.png"); }
#examples .entry, #examples .entry * { cursor: pointer; }
#examples .entry .description { color: #707070; line-height: 1; }

/* info tab */
#info { padding: 0 !important; margin: 0 !important; height: 100%; overflow: hidden; }
#info .half { height: 50%; overflow: auto; }
#info .half:first-child { border-bottom: 1px solid #000000; margin-top: -1px; }
#info .half .section { padding: 0.25em;  }
#info .section h1 { }
#info table { margin: 0; }
#info .tablesorter th { line-height: 1.5; }
#info .tablesorter th label { padding: 0.25em 1.5em 0.25em 0.25em; margin-left: -0.25em; cursor: pointer; }
#info .tablesorter th.headerSortDown label, #info .tablesorter th.headerSortUp label { background-repeat: no-repeat; background-color: #0b94b1; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#info .tablesorter th.headerSortUp label { background-image: url("../../images/cytoscape/open_arrow/white/up.png"); background-position: right center; }
#info .tablesorter th.headerSortDown label { background-image: url("../../images/cytoscape/open_arrow/white/down.png"); background-position: right center; }
#info .tablesorter tr td { font-family: "Monaco", "Courier New", monospace; font-size: 0.85em; line-height: 1.25; }
#info .tablesorter input { font-family: "Monaco", "Courier New", monospace; }
#info .tablesorter input:hover, input:focus { border-color: #c1c1c1 !important; background: #ffffff; }
#info .tablesorter input { border-color: transparent; width: auto; background: transparent; }
#info .tablesorter td[name=id] { font-weight: bold; border-right: 4px double #cacaca; }
#info .tablesorter td.not_editable { cursor: default; }
#info label.title { display: block; color: #ffffff !important; padding: 0.5em 0.25em; background: #0b94b1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0 0 50px #bbb; -webkit-box-shadow: 0 0 50px #bbb; box-shadow: 0 0 50px #bbb; }
#info div.title_line { margin: -0.25em 0 0 -0.25em; background: #ffffff; padding: 0.25em 0.5em 0.5em 0.25em; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position: absolute; background: #ffffff; background-color: rgba(255, 255, 255, 0.8); }
#info div.title_line + * { margin-top: 3em; }


/* vizmapper tab */
#vizmapper label.style { display: block; padding-top: 0.5em; clear: both; }
#vizmapper .property { clear: both; position: relative; }
#vizmapper .property input { display: block; width: 10em; }
#vizmapper .property input.colour_sample_bg { background-image: url("../../img/input_for_colour_picker/bg.png"); background-position: center right; background-repeat: repeat-y; }
#vizmapper .property .default {  float: left; }
#vizmapper .property .map_button { float: left; margin: 0.1em 0.25em; padding: 0.1em; cursor: pointer; }
#vizmapper .property .map_section { position: relative; clear: both; float: left; width: 100%; }
#vizmapper .property .selector { left: 0; top: 0; position: relative; margin-left: auto; margin-right: auto; border-top: 0 !important; }
#vizmapper .property li.title { margin-right: 0 !important; width: 100% !important; }
#vizmapper .property label.title { float: none !important; display: block; }
#vizmapper .property .continuous, #vizmapper .property .discrete { position: relative; border: 1px solid #ababab; border-width: 0 1px 1px 1px; padding: 1em; clear: both; max-height: 15em; overflow: auto; }
#vizmapper .property .continuous_min_name { display: block; padding-top: 0.5em; }
#vizmapper .property .continuous_max_name { display: block; }
#vizmapper .property .continuous .line { width: 5em; position: absolute; height: 100%; z-index: 1; top: 0; right: 0; }
#vizmapper .property .continuous .arrow_top { position: absolute; left: 50%; margin-left: -8px; margin-top: 1em; top: 0; }
#vizmapper .property .continuous .arrow_bottom { position: absolute; left: 50%; margin-left: -8px; margin-bottom: 1em; bottom: 0; }
#vizmapper .property .continuous .middle { text-align: center; position: absolute; top: 50%; margin-top: -0.75em; width: 100%; }
#vizmapper .property .selector .ui-top-menu { z-index: 9999; }
#vizmapper .property label.discrete_name { display: block; padding-top: 0.5em; }
#vizmapper .property label.discrete_name:first-child { padding-top: 0em; }

/* layout settings */
/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width: 100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 0.3em; float: right; width: 22em; overflow: auto; }

#settings { padding: 0.25em 0.1em; }
#settings .ui-tabs-vertical .ui-tabs-nav { height: 26em; }
#settings table { margin: 0; }
#settings td { border: 0px solid #CFCFCF; text-align: left; }
#settings input[type="text"], #settings select { margin-bottom: 0.5em; width: 8.5em; }
#settings .footer { height: 2em; padding-top: 0.5em; padding-bottom: 0.25em; text-align: center; }
