/****************************************
 * UCSF Comprehensive Cancer Center
 * Main style sheet
 ****************************************/
 
/* Global styles */

body { 
	font-size : 8pt;
	min-width: 800px;
	background: #DDDDBB;
}

h1, h2, .h2, h3, .h3 {
	color: #226;
}

h2, .h2 { 
	color: #661;
}

a:link {
	color: #330;
	text-decoration: none;
	font-weight: bold;
}
a:active {
	color: #330;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: #330;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #666;
	text-decoration: underline;
	font-weight: bold;
}


#investigator_title #full_name, #investigator_title #page_title {
    color: #244;
}

td.list-title-left {
	color:        #244;
}

#listing .list-heading {
	color:        #244;
}

#listing .list-title {
	color:        #244;
}

#listing .list-title-center {
	color:        #244;
}

#listing .list-title-right {
	color:        #244;
}

#side {
	background-color: #666666;
}

#banner {
	height:82px;
	overflow:hidden; /* this is important */
	border-bottom: 0px;
	
}

#main {
	border: 1px #DDDDBB solid;
}

#title {
  color: #226;
}

#title a {
  color: #226;
}

#search {
  background-color: #666666;
}
#search a:hover { background-color: #666666; }


#niceline {
  background-color: lightyellow;
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #222; /*background of menu items (default state)*/
color: white;
}

.ddsmoothmenu-v ul li ul li.current, .ddsmoothmenu-v ul li ul li.current a {
	background-color: #444;
}

.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #444; 
color: white;
}

.ddsmoothmenu-v ul li a:hover{
background: #444; /*background of menu items during onmouseover (hover state)*/
color: white;
}
