<h1>Graphviz MeSH interaction graph for <%= @name %></h1>

<p><%= link_to "Co-authorship version of this graph", show_org_graphviz_url(params[:id]) %></p>


<%= render( :partial => "graphviz_template" ) %>

<p>This graph shows the interaction graph for faculty in a unit based on MeSH similarities.</p>

