<h1>Graphviz interaction graph for <%= @investigator.name %></h1>

<%= render :partial => "shared/investigator_bio", :locals => { :investigator => @investigator } %>

<p><%= link_to "MeSH version of this graph", show_member_mesh_graphviz_url(params[:id]) %></p>

<%= render( :partial => "graphviz_template" ) %>

<p>This graph shows the interaction graph for a faculty member based on number of co-authored publications with other faculty members. Stringency is the number of co-publications between faculty members. Setting a stringency of 5, for instance, will remove all interactions involving fewer than 5 co-publications. Distance is the allows you to set the number of 'degrees of separation' between the faculty member and the rest of the organization. Only 1st and 2nd degrees of separation are currently supported. There are five different graphing options supported - neato, dot, circo, twopi and fdp. Please experiment with them. Finally, you can select the type of output generated. SVG is the default (an xml vector-based, open web image interface). png (another open image format) and pdf images can also be generated and will be either saved to your local disk or displayed in your browser, depending on how you have configured your browser. </p>

